.icone {
    float: left;
    margin-top: -3px;
    margin-left: 3%;
    margin-right: 10px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}
button {
 background-color: #000000;
  color: #fff;
  padding: 2px 30px;
}
.seta1{
  margin-left: 126px;
}
button:hover {
  color: #fff!;
  background-color: #222222!;
}