<!-- <h1>{{title}}</h1> -->
<div class="topo">
<img class="iconetopo" src="https://raw.githubusercontent.com/gabrielapaes/angular-walmart/master/images2/walmart.png" width="181px" height="47px">
</div>
<!-- <nav>
<a routerLink="/dashboard">Meus Pedidos</a>
  <a routerLink="/heroes">Endereço</a>
   <a routerLink="/pedidos">Meus pedidos 2</a>
   <a routerLink="/profiles">Profile </a>
</nav> -->

<router-outlet></router-outlet>
<div class="footer">
  </div>
 <!--<app-messages></app-messages>-->
<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->